<!DOCTYPE html>
<html>

<head>
    <title>WIKIDLE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>WIKIDLE</h1>
    <p>Simply guess what Wikipedia article the excerpt below is from!</p>

    {% if game_state == "not_started" %}
    <div class="popup-background">
        <div class="popup-box">
            <h2>Welcome to WIKIDLE</h2>
            <p>Press start to begin guessing.</p>

            <form method="POST">
                <button type="submit" name="action" value="start">Start Game</button>
            </form>
        </div>
    </div>
    {% endif %}

    {% if game_state == "finished" %}
    <div class="popup-background">
        <div class="popup-box">
            <h2>You got it!</h2>
            <p>The answer was {{ wiki_name }}.</p>
            <p>You used {{ guess_count }} guesses.</p>

            <form method="POST">
                <button type="submit" name="action" value="start">Play Again</button>
                <button type="submit" name="action" value="reset">Back to Start</button>
            </form>
        </div>
    </div>
    {% endif %}

    <!-- main text, comes from "wiki_text" from app.py-->
    <div class="text-box">
        {% if wiki_text %}
        <p class="wiki_name_blurred">{{ wiki_name_blurred }}</p>
        <p class="wiki-text">{{ wiki_text }}</p>
        {% endif %}
    </div>

    <!-- search bar/box + button-->
    {% if game_state == "playing" %}
    <form method="POST" class="search-form">
        <input type="text" name="search" placeholder="Guess something..." list="autocomplete-options"
            autocomplete="off">

        <datalist id="autocomplete-options">
            {% for option in autocomplete_options %}
            <option value="{{ option }}">
                {% endfor %}
        </datalist>

        <button type="submit" name="action" value="guess">Guess</button>
        <button type="submit" name="action" value="reset">Reset</button>
    </form>
    {% endif %}

    {% if invalid_guess %}
    <p class="error-message">
        Guess not valid
    </p>
    {% endif %}

    {% if prev_guess %}
    <p class="error-message">
        Already guessed!
    </p>
    {% endif %}

    <!-- CURRENT GUESS BOXES-->
    <div class="box-container">

        <!-- guess box, text comes from search bar/box above-->
        <div class="box-column">
            <h3>Guess</h3>
            <div class="small-box {{ guess_color }}">
                {% if guess_name %}
                <p class="search-result">{{ guess_name }}</p>
                {% else %}
                <p>...</p>
                {% endif %}
            </div>
        </div>

        <!-- category box-->
        <div class="box-column">
            <h3>Category</h3>
            <div class="small-box {{ category_color }}"">
                {% if guess_category %}
                <p class=" search-result">{{ guess_category }}</p>
                {% else %}
                <p>...</p>
                {% endif %}
            </div>
        </div>

        <!-- theme box-->
        <div class=" box-column">
            <h3>Theme</h3>
            <div class="small-box {{ theme_color }}">
                {% if guess_theme %}
                <p class=" search-result">{{ guess_theme }}</p>
                {% else %}
                <p>...</p>
                {% endif %}
            </div>
        </div>

    </div>

    <!-- PREVIOUS GUESS BOXES-->
    {% for guess in guesses[:-1] %}
    <div class="box-container">

        <!-- previous guess name -->
        <div class="box-column">
            <div class="small-box {{ guess.guess_color }}">
                <p class="search-result">{{ guess.name }}</p>
            </div>
        </div>

        <!-- previous category -->
        <div class="box-column">
            <div class="small-box {{ guess.category_color }}">
                <p class="search-result">{{ guess.category }}</p>
            </div>
        </div>

        <!-- previous theme -->
        <div class="box-column">
            <div class="small-box {{ guess.theme_color }}">
                <p class="search-result">{{ guess.theme }}</p>
            </div>
        </div>

    </div>
    {% endfor %}

</body>

</html>